YOJ_DB_HOST=192.168.1.10
YOJ_DB_PORT=3306
YOJ_DB_USER=root
YOJ_DB_PASSWORD=root
YOJ_DB_NAME=yoj

YOJ_REDIS_ADDR=192.168.1.10:6379
YOJ_REDIS_PASSWORD=
YOJ_REDIS_DB=0

YOJ_RABBITMQ_URL=amqp://yoj:strong-password@192.168.1.10:5672/
YOJ_RABBITMQ_JUDGE_QUEUE=yoj.judge.tasks
YOJ_RABBITMQ_JUDGE_DEAD_QUEUE=yoj.judge.tasks.dead

YOJ_WORKER_NAME=judge-host-b
YOJ_WORKER_CONCURRENCY=4
YOJ_WORKER_PREFETCH=4

YOJ_JUDGE_MODE=docker